.az{ 
    color:aliceblue;
    text-decoration:none;
    transition:0.7;
    font-size: 15px;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    

}

#campeao{
    margin-left:500px;
    margin-right:10px;
}

.az:hover { 
    opacity:0.7;
    border-bottom: rgb(173, 8, 151);
}

.navlist li:hover{
    border-bottom: rgb(173, 8, 151);

}

.logo2{
    font-size: 20px;
    text-transform:uppercase;
    letter-spacing:4px;
    z-index: 0;
    margin-right:30px;
    margin-left:30px;

}

#nav2 {
    display:flex;
    justify-content: space-around;
    font-family:Arial, Helvetica, sans-serif;
    background:rgb(22, 22, 22);
    height: 10vh;
    position:fixed;
    top:0;
    left:0;
    right:0;
    align-items: center;
    z-index:100;

}
.nav-list2{
    list-style:none;
    display:flex;
    
}

.nav-list2 li{ 
    letter-spacing:3px;
    margin-left: 32px;
}
/* fim do Menu de Nav --------------------------------------------------------------------------- */





a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}


#logo{
    width:250px;
    height: auto;
    margin-top:10px;
    top:0;
    margin-left:490px;
    transition:1s;
    position:fixed;
    z-index: 100;
}

#logo:hover{
    scale:1.1;
    opacity: 0.8;
}



#block{
    width:700px;
    background-color: #1F3140;
    opacity: 0.7;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur( 10px );
    height: 900px;
    display: flex;
    margin-top:140px;
    margin-right:auto;
    margin-left:auto;
    flex-direction: column;
    box-shadow:0 10px 20px rgba(0,0,0,1), 0 6px 6px rgba(0,0,0,0.90);
}

.tabelaskills{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}



.ul2{
    padding:0;
    list-style: none;
    color:white;
    width: 600px;

}


.ef-glow {
    width:200px;
    padding:0;
    margin:10px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 2px transparent;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    transition: 0.4s;
    }


.ef-glow:hover, .ef-glow:focus, .ef-glow:active {
box-shadow: 0 0 10px rgb(255, 255, 255);
}

.ef-glow:hover{
    scale:1.05;
}



li{
    font-family: monospace;
    font-style: bold;
    font-size: 20px;
}