#logo{
    width:250px;
    height: auto;
    margin-top:10px;
    top:0;
    margin-left:490px;
    transition:1s;
}

#logo:hover{
    scale:1.1;
    opacity: 0.8;
}


/* -------------------------------------------------- SLIDER -------------------------------------------------------*/


.content{
    height:400px;
    width:900px;
    border-radius: 20px;
    overflow:hidden;  /* esconde todo o conteúdo que ultrapassa o tamanho do conent */
    margin-left:200px;
    position:absolute;
    box-shadow:0 10px 20px rgba(0,0,0,0.80), 0 6px 6px rgba(0,0,0,0.65);
}

.imgs{
    width:900px;
    height:400px;
}
.navigation{
    position: absolute;
    bottom:15px;
    left:50%;
    transform: translate(-50%);
    display:flex;

    

}

.bar{
    width:70px;
    height:20px;
    border:2px solid white;
    margin:6px;
    border-radius: 5px 3px;
    cursor: pointer;
    transition:.9s;
    box-shadow:0 10px 20px rgba(0,0,0,0.80), 0 6px 6px rgba(0,0,0,0.65);

}

.bar:hover{
    scale:1.01;
    background-color: white;
    opacity: 1;
}

input{
    display:none;
}

.slides{
    display:flex;
    width:500%; /* para fazer cada imagem aparecer por vez */
    height:100%;
}


.slide{
    width:20%;
    transition: .4s;

}

.slide img{
    width:100%;
    height:100%;
}

#slide1:checked ~ .s1{
    margin-left:0;

}

#slide2:checked ~ .s1{
    margin-left: -20%;
}

#slide3:checked ~ .s1{
    margin-left: -40%;
}

#slide4:checked ~ .s1{
    margin-left: -60%;
}

#slide5:checked ~ .s1{
    margin-left: -80%;
}
/* -------------------------------------------------- SLIDER -------------------------------------------------------*/

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    opacity: 0.8;
    border: 2px;
    border-color: white;
    border-radius: 10px 25px;
    padding:10px;
    margin-left:400px;
    margin-right:400px;
}

#noticias{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right:40px;
}

/* -------------------------------------------- botões ---------------------------------------------------------- */
.btn{
    background-color: azure;
    margin:30px;
    padding:20px;
    border-color: aliceblue;
    border-radius: 3px 4px;
    border:2px;


    text-decoration: none;
    text-transform: uppercase;

    font-size:16px;
    font-weight: bold;
    color:black;  

    z-index: 0;

}

.btn2{
    background-color: azure;
    margin:30px;
    padding:20px;
    border-color: aliceblue;
    border-radius: 3px 4px;
    border:2px;


    text-decoration: none;
    text-transform: uppercase;

    font-size:16px;
    font-weight: bold;
    color:black;  

    z-index: -1;

    

}




/* -------------------------------------------- botões ---------------------------------------------------------- */

.btn{
    position: relative;
    display: block;
    color: rgb(7, 0, 0);
    font-size: 14px;
    font-family: "montserrat";
    text-decoration: none;
    margin: 30px 0;
    border: 2px solid #29455c;
    padding: 15px 60px;
    overflow: hidden;
    transition: 1s all ease;
    border-radius: 5px 7px;
    box-shadow:0 10px 20px rgba(0,0,0,1), 0 6px 6px rgba(0,0,0,0.90);
}

.btn::before{
    background: #29455c;
    color:aliceblue;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
  }
  
  .btn::before{
    width: 0%;
    height: 100%;
  }
  
  .btn:hover::before{
    width: 102%;
  }


  a{
      text-decoration: none;
      color:black;
  }